:root {
  --primary-500: #28EBCF;
  --primary-700: #24d3ba;

  --secondary-500: #393D40;

  --neutral-500: #000;

  --background: #fff;
  --navbar-background: #fff;
  --font-color: #000;
  --kpi-card-background: #fff;

  --background-3: rgba(38, 49, 60, .08);
  --button-border-radius: 3px;
  --box-shadow-kpi-card: 0 2px 8px rgba(0, 0, 0, .1);
  --nav-link-hover: #d0d0d1;
}

/**
@media (prefers-color-scheme: dark) {
  :root {
    --primary-500: #28EBCF;
    --primary-700: #24d3ba;

    --secondary-500: #393D40;

    --neutral-500: #fff;
    --kpi-card-background: #2e2e2e;

    --navbar-background: #101112;
    --background: #16171a;
    --font-color: #fff;
    --background-3: rgba(38, 49, 60, 0.8);
    --button-border-radius: 3px;
    --box-shadow-kpi-card: 0 2px 8px rgba(0, 0, 0, .1);
    --nav-link-hover: #d0d0d1;
  }
}
**/

@font-face {
  /* change: npm install @fontsource/open-sans*/
  font-family: "Open Sans";
  src: local("Open Sans"),
    url("./fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

body {
  font-family: "Open Sans";
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  color: var(--font-color);
  background-color: var(--background);
}

a {
  color: #0366d6;
}

tr {
  height: 58px;
  cursor: pointer;
  vertical-align: middle;
}

.table {
  color: var(--font-color);
}

.table-hover>tbody>tr:hover>* {
  --bs-table-accent-bg: #f9f9fa !important;
}

.ppm360-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ppm360-cell {
  background-color: #fdf5ec;
  border-radius: 4px;
  color: #f19f4f;
  font-weight: 400;
  line-height: 24px;
  padding: 6px;
  width: fit-content;
}


h1 {
  font-size: 2rem;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: none;
}

code {
  color: #E01A76;
}

.kpi-card-heading {
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}

.btn {
  border: none;
  border-radius: var(--button-border-radius);
  margin: 5px;
  font-weight: 600;
}

.btn-primary {
  background-color: var(--primary-500);
  color: #000;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--primary-700) !important;
  color: var(--neutral-500) !important;
}



.btn-secondary {
  background-color: var(--secondary-500);
}

.modal-content {
  border: none;
  border-radius: 0px;
  padding: 5px;
}

.modal-title {
  font-weight: 600;
}

.card {
  border: 1px solid var(--background-3);
  box-shadow: var(--box-shadow-kpi-card);
  background-color: var(--kpi-card-background);
  border-radius: 6px !important;
  margin-bottom: 20px;
}

.approveButtons {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

h5 {
  font-weight: bold;
  padding-bottom: 5px;
}

h6 {
  font-weight: bold;
  padding-top: 20px;
  margin-bottom: 10px;
}

.comments-wrapper {
  padding: 10px;
}

.comments-heading {
  margin-top: 40px;
}

.comments-content {
  margin-bottom: 0px;
  width: 100%;
  background-color: #f5f6f7;
  border: 2px solid rgba(255, 255, 255, 0.05);
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.comments-avatar {
  width: 36px;
  height: 36px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  background-color: var(--secondary-500);
  display: inline-block;
  box-sizing: border-box;
  margin-right: 15px;
}

.comments-avatar>div {
  color: #FFFFFF;
  height: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: inherit;
  font-weight: inherit;
}

.comments-avatar-wrapper {
  position: relative;
  display: inline-block;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.Toastify__toast-theme--light {
  background: #fff;
  color: var(--neutral-500);
}

.Toastify__toast {
  padding: 10px;
  border-radius: 6px;
  box-shadow: var(--box-shadow-kpi-card);
  font-family: "Open Sans";
}